* {
  box-sizing: border-box;
  margin: 0;
}

.intro-text,
h1 {
  margin-inline: auto;
  max-width: fit-content;
}
.container {
  background-color: rgb(75, 75, 75);
  display: flex;
  flex-wrap: wrap;
}

.box {
  border: 2px solid goldenrod;
  border-radius: 1rem;
  min-height: 20rem;
  min-width: 20rem;
  overflow: hidden;
}

img {
  max-width: 100%;
  padding: 2%;
  border-radius: 2rem;
}

.hero {
  background-color: green;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
